  
.ipynb_checkpoints .DS_Store __pycache__ *.db *.pytest_cache .student 
ian .student .submission .submission1 - copy .submission1 .submission2 
.submission - copy .ignored_notebooks .submission (final) (1).ipynb 
.submission (final) (2).ipynb .submission (final) (3).ipynb .submission 
(final) 1.ipynb .submission .submission 24.ipynb .submission 24.ipynb 
.submission 24 .ipynb .Group 4.4 Project Presentation.pppx .

Group 4.4 Project Presentation 3.pdf .submission (presented final ).ipynb 
.Mwanzia Final Notebook.ipynb
